<p>Olá #{name}</p>

<p>Por favor, acesse olink abaixo para redefinir a senha:</p>

<p>Se desejar, copie e cole o endereço no seu navegador.</p>

<p><a href="#{url}">#{url}</a></p>

<p>Se você não solicitou a recuperação de senha, ignore este e-mail.</p>

<p>Ferrari Hcode Lab</p>